/app/build
/.gradle
/local.properties
/push.sh
/app/src/main/obj
/app/src/main/jniLibs
/app/src/main/libs
/sora-editor/build
/*.diff
/manifest-merger-30.0.1.jar
/build
/b
/app/libs/*.jar.1
